/* components/Footer.module.css */
.footer {
    background-color: #333333; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .footer p {
    margin: 0;
  }
  