/* components/HeroSection.module.css */
.container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el contenido */
    padding: 50px;
    background-color: #1e1e1e; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
  }
  
  .textSection {
    flex: 1;
    padding-right: 20px;
    max-width: 50%; /* Limitar el ancho del texto */
  }
  
  .textSection h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .textSection h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .textSection p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .imageSection {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 40px; /* Añadir margen alrededor de la imagen */
  }
  
  .image {
    width: 40%; /* Reducir aún más el ancho de la imagen */
    height: auto;
    border-radius: 8px;
  }
  